[Unit]
Description=Scylla AMI Setup
Before=scylla-io-setup.service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/lib/scylla/scylla-ami/scylla_ami_setup
RemainAfterExit=yes
TimeoutStartSec=900

[Install]
RequiredBy=scylla-io-setup.service
